# App environment
env=test

# Postgres database connection (fake values)
DB_NAME=example_db
DB_USER=example_user
DB_PASS=example_password
DB_HOST=localhost
DB_PORT=5432

# Elastic APM (fake values)
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SERVICE_NAME=fake-api
ELASTIC_APM_ENVIRONMENT=fake-environment
